### Interpreting Results of Logistic Regression

In this notebook (and quizzes), you will be getting some practice with interpreting the coefficients in logistic regression.  Using what you saw in the previous video should be helpful in assisting with this notebook.

The dataset contains four variables: `admit`, `gre`, `gpa`, and `prestige`:

* `admit` is a binary variable. It indicates whether or not a candidate was admitted into UCLA (admit = 1) our not (admit = 0).
* `gre` is the GRE score. GRE stands for Graduate Record Examination.
* `gpa` stands for Grade Point Average.
* `prestige` is the prestige of an applicant alta mater (the school attended before applying), with 1 being the highest (highest prestige) and 4 as the lowest (not prestigious).

To start, let's read in the necessary libraries and data.

In [8]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv("./admissions.csv")
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

There are a few different ways you might choose to work with the `prestige` column in this dataset.  For this dataset, we will want to allow for the change from prestige 1 to prestige 2 to allow a different acceptance rate than changing from prestige 3 to prestige 4.

1. With the above idea in place, create the dummy variables needed to change prestige to a categorical variable, rather than quantitative, then answer quiz 1 below.

In [9]:
df.prestige.value_counts()

2    148
3    121
4     67
1     61
Name: prestige, dtype: int64

In [10]:
df[['prestige 1','prestige 2','prestige 3','prestige 4']] = pd.get_dummies(df.prestige)
df.head()

   admit  gre   gpa  prestige  prestige 1  prestige 2  prestige 3  prestige 4
0      0  380  3.61         3           0           0           1           0
1      1  660  3.67         3           0           0           1           0
2      1  800  4.00         1           1           0           0           0
3      1  640  3.19         4           0           0           0           1
4      0  520  2.93         4           0           0           0           1

`2.` Now, fit a logistic regression model to predict if an individual is admitted using `gre`, `gpa`, and `prestige` with a baseline of the prestige value of `1`.  Use the results to answer quiz 2 and 3 below.  Don't forget an intercept.

In [11]:
df['intercept'] = 1
model = sm.Logit(df.admit, df[['gre','gpa','prestige 2','prestige 3','prestige 4','intercept']])
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sun, 28 Oct 2018   Pseudo R-squ.:                 0.08166
Time:                        05:20:02   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
gre            0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa            0.7793      0.333      2.344      0.019       0.128       1.431
prestige 2    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige 3    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige 4    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept     -3.8769      1.142     -3.393      0.001      -6.116      -1.638
==============================================================================
"""

In [13]:
print(np.exp(0.7793),'gpa')
print(np.exp(0.0022),'gre')
print(np.exp(-0.6801),'prestige 2')
print(np.exp(-1.3387),'prestige 3')
print(np.exp(-1.5534),'prestige 4')

2.17994576925 gpa
1.00220242178 gre
0.506566333199 prestige 2
0.262186289305 prestige 3
0.21152755612 prestige 4

In [14]:
print(1/np.exp(-0.6801),'prestige 2')
print(1/np.exp(-1.3387),'prestige 3')
print(1/np.exp(-1.5534),'prestige 4')

1.97407512987 prestige 2
3.8140819745 prestige 3
4.7275164444 prestige 4